/* Fonts */
@font-face {
	font-family: neue;
	src: url('../fonts/BebasNeue-Regular.ttf');
}

@font-face {
	font-family: beba;
	src: url('../fonts/Bebas-Regular.ttf');
}

/* Menus */
.menu {
	font-family: beba;
	min-width: 290px;
	color: #fff;
	position: absolute;
}

.menu.align-left {
	left: 40;
	top: 50%;
	transform: translate(0, -50%);
}

.menu.align-top-left {
	left: 40;
	top: 40;
}

.menu.align-top {
	left: 50%;
	top: 40;
	transform: translate(-50%, 0);
}

.menu.align-top-right {
	right: 10;
	top: 40;
}

.menu.align-right {
	right: 40;
	top: 50%;
	transform: translate(0, -50%);
}

.menu.align-bottom-right {
	right: 40;
	bottom: 40;
}

.menu.align-bottom {
	left: 50%;
	bottom: 40;
	transform: translate(-50%, 0);
}

.menu.align-bottom-left {
	left: 40;
	bottom: 40;
}

.menu.align-center {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.menu .headimage {
	position: absolute;
	left: 0;
	top: -35;
    height: 40px;
    overflow: hidden;
}

.menu .head {
	font-family: neue;
	font-size: 30px;
	text-shadow:3px 3px 8px black;
	font-weight: lighter;
	text-align: center;
	height: 50px;
	line-height: 50px;
	border: 2px ridge black;
	border-radius: 12px;
  	background: linear-gradient(
      	60deg,
		hsl(0, 100.0%, 31.6%),
		hsl(7, 95.5%, 43.7%),
		hsl(14, 96.8%, 48.4%),
		hsl(22, 99.2%, 52.4%),
		hsl(43, 100.0%, 56.1%),
      	hsl(57, 100.0%, 68.2%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    animation: rotate 1s alternate infinite;
}

.menu .menu-items {
	max-height: 600px;
	overflow-y: auto;
}

.menu .menu-items .menu-item {
	height: 32px;
	line-height: 32px;
	vertical-align: middle;
	text-align: center;
	border-radius: 12px;

	border-top: solid;
	border-top-color: rgb(255, 102, 0);

	border-left: outset;
	border-left-color: rgb(255, 102, 0) ;
	border-right: inset;
	border-right-color: rgb(255, 102, 0) ;
	background-color: #1414146d;
	margin: 3px;
}

.menu .menu-items .menu-item.selected {
	background-color: #0a0a0ad0;
}

@keyframes rotate {
	100% {
		transform: scale(1.03, 1.03);
		background-position: 100% 0%;
	}
}
